<div class="container index-vans">
  <div class="row">
    <% (7..@ws.num_rows).each do |row| %>
      <div class="col-xs-12 col-sm-6 col-md-4 van-card">

          <iframe src="https://drive.google.com/file/d/<%=@ws[row, 1]%>/preview"></iframe>

            <h4 class="card-title"><%= @ws[row, 6] %> de <%= @ws[row, 5] %> <%= @ws[row, 7] %></h4>
            <p class="card-text">Prix : <%= @ws[row, 3] %> - <%= @ws[row, 4] %></p>
            <p class="card-text">Origine : <%= @ws[row, 8] %></p>
            <a href="<%= @ws[row, 9] %>" target="_blank" class="btn btn-primary">Plus de photos</a>

      </div>
    <% end %>
  </div>
</div>


<div class="container index-vans">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <% (7..@ws.num_rows).each do |row| %>
        <div class="card" style="width: 20rem;">
          <iframe src="https://drive.google.com/file/d/0BypoFzxR0RWATV82dDZZYjF4RmM/preview"></iframe>
          <div class="card-block">
            <h4 class="card-title"><%= @ws[row, 6] %> de <%= @ws[row, 5] %> <%= @ws[row, 7] %></h4>
            <p class="card-text">Prix : <%= @ws[row, 3] %> - <%= @ws[row, 4] %></p>
            <p class="card-text">Origine : <%= @ws[row, 8] %></p>
            <a href="<%= @ws[row, 9] %>" target="_blank" class="btn btn-primary">Plus de photos</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
