<class class="banner wrapper home">
  <div class="container">
    <h1>Vous cherchez un van ?</h1>
    <h2>Voici nos services :</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 services-card">
        <div class="svg"><%= image_tag "bought.svg" %></div>
        <h2>ACHAT</h2>
        <p>Choisissez vôtre combi parmi notre inventaire.</p>
      </div>
      <div class="col-xs-12 col-sm-4 services-card">
        <div class="svg"><%= image_tag "import.svg" %></div>
        <h2>IMPORT</h2>
        <p>Nous prenons en charge tout le processus logistique et douanier jusqu'à votre domicile.</p>
      </div>
      <div class="col-xs-12 col-sm-4 services-card">
        <div class="svg"><%= image_tag "certificate.svg" %></div>
        <h2>HOMOLOGATION</h2>
        <p>Nous réalisons l'homologation auprès de la FFVE et nous vous accompagnons pour obtenir  l'immatriculation "collection".</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 info-card">
        <p>Inscrivez-vous à la newsletter <br>ou likez <a href="https://www.facebook.com/combimport/" target="_blank" class="btn btn-primary">notre page Facebook</a> pour voir les derniers combis disponibles.</p>
      </div>
    </div>

  </div>
</class>
<class class="wrapper">
  <div class="container index-vans">
    <div class="row">
      <% (7..@ws.num_rows).each do |row| %>
        <div class="col-xs-12 col-sm-6 col-md-4 van-card">

            <iframe src="https://drive.google.com/file/d/<%=@ws[row, 1]%>/preview"></iframe>

              <h4 class="card-title"><%= @ws[row, 6] %> de <%= @ws[row, 5] %> <%= @ws[row, 7] %></h4>
              <p class="card-text" style="display:inline;">Prix : <%= @ws[row, 3] %> -
                <% case @ws[row, 4] %>
                <% when "Réservé" %>
                  <div style="color: orange; display:inline;"; display:inline;><%= @ws[row, 4] %></div>
                <% when "Vendu" %>
                  <div style="color: red; display:inline;"><%= @ws[row, 4] %></div>
                <% when "Disponible" %>
                  <div style="color: green; display:inline;"><%= @ws[row, 4] %></div>
                <% end %>
              </p>
              <p class="card-text">Origine : <%= @ws[row, 8] %></p>
              <a href="<%= @ws[row, 9] %>" target="_blank" class="btn btn-primary">Plus de photos</a>

        </div>
      <% end %>
    </div>
  </div>
</class>
<class class="wrapper contact">
  <div class="container contact">
  <h1>Nous contacter</h1>
  <p>combimport@gmail.com
​<br>Tél : +33 (0)6 85 42 15 73
<br>HEURES D'OUVERTURE:
<br>Tout le temps!</p>
  </div>
</class>
